<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CheerUI" type="CheerUI.ConfigSection, CheerUI"/>
  </configSections>
  <CheerUI DebugMode="true" EnableAnimation="true"/>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600" requestValidationMode="2.0" requestPathInvalidCharacters=""/>
    <customErrors mode="Off"/>
    <sessionState mode="Custom" cookieName="SESSIONID" customProvider="MySessionStateStore" timeout="720">
      <providers>
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" accessKey="" host="127.0.0.1:8800" ssl="false"/>
      </providers>
    </sessionState>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add assembly="CheerUI" namespace="CheerUI" tagPrefix="c"/>
      </controls>
    </pages>
    <compilation targetFramework="4.5.2" debug="true"/>
  </system.web>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="OracleConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));Persist Security Info=True;User ID=test;Password=root3306;"/>
    <!--<add key="OracleConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.18.1.74)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=wzgs)));Persist Security Info=True;User ID=lucheng;Password=lc604;"/>-->
    <add key="ConnectionString" value="A043CED6379E11F46A95F5A1E7143878BB2F65CC8E800B0186089D62B18F145FD0CEF2386D899C33767D678D22DF858E3E83B8BA370EEE90F2CA04DDAA18E8FE95F49F65BE3C741C"/>
    <add key="DBType" value="MYSQL"/>
    <add key="Redis" value="127.0.0.1:8800"/>
    <add key="UpdateInterval" value="2"/>
  </appSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=Edge"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="10000"/>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add verb="GET" name="res.axd" path="res.axd" type="CheerUI.ResourceHandler, CheerUI"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>