<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--configSections必须在最上面。自定义工作项,name属性请与Jobs下的任务目录同名,会据此加载该任务的config对象-->
    <section name="syncDeviceAtrr" type="CHEER.Service.Base.ServiceTools,CHEER.Service"/>
    <section name="syncDevUpdownLine" type="CHEER.Service.Base.ServiceTools,CHEER.Service"/>
    <section name="syncAlarmInfo" type="CHEER.Service.Base.ServiceTools,CHEER.Service"/>
  </configSections>
  <syncDeviceAtrr>
    <add key="description" value="同步设备统计数据"/>
    <add key="enabled" value="true"/>
    <add key="assembly" value="CHEER.Service.Jobs.syncDeviceAtrr.Job,CHEER.Service"/>
    <add key="interval" value="1"/>
  </syncDeviceAtrr>
  <syncDevUpdownLine>
    <add key="description" value="同步设备设备上下线记录"/>
    <add key="enabled" value="true"/>
    <add key="assembly" value="CHEER.Service.Jobs.syncDevUpdownLine.Job,CHEER.Service"/>
    <add key="interval" value="900"/>
  </syncDevUpdownLine>
  <syncAlarmInfo>
    <add key="description" value="同步设备报警信息"/>
    <add key="enabled" value="true"/>
    <add key="assembly" value="CHEER.Service.Jobs.syncAlarmInfo.Job,CHEER.Service"/>
    <add key="interval" value="10"/>
  </syncAlarmInfo>
  <appSettings>
    <!--<add key="OracleConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.18.1.74)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=wzgs)));Persist Security Info=True;User ID=lucheng;Password=lc604;"/>-->
    <add key="ConnectionString" value="A043CED6379E11F46A95F5A1E7143878BB2F65CC8E800B0152335D907C207A32557A41DF3A6A214D99B694E3D7E1042AA71E3925E1AE9DFFC1C3847073529C65A0FA6315C178D565"/>
    <add key="DBType" value="MYSQL"/>
    <add key="Redis" value="127.0.0.1:8800"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
